html {
    background: #193441;
}


#hd h1 {
    font-size: 1.2em;
    font: verdana;
    text-align: center;
    color: white;
    
}

a:visited h1 {
    color: black;
}

h2 {
    font-weight: bold;
    
}

#hd, #bd {
    padding: 10px;
    border: 1px solid #B3B3B3;        
}

#hd {
    background: #3E606F;
    padding: 10px;
}

#bd {
    background: #EEE;
}

#main {
    padding: 10px;
}

#entries {
    padding: 0px;
    -webkit-box-shadow: 0px 0px 10px black;
    -moz-box-shadow: 0pt 0pt 1em 0.2em black;
    //border: 1px solid #E3E3E3;
}

#controls {
    padding: 5px;
}

/* .message { */
/*     padding: 5px; */
/*     border: solid; */
/* } */

.message {
    background-color: white;
    border-bottom:1px solid #E3E3E3;
    border-left:1px solid #E6E6E6;
    border-right:1px solid #E6E6E6;
    overflow:hidden;
    padding:7px 8px;
}

td {
    padding-left: 8px;
    padding-right: 8px;
}

td.date {
    overflow:hidden;
    padding-right:8px;
    padding-left: 8px;
    //padding-top:4px;
    width:30%;
    text-align: right;
    font-size: 0.9em;
    color: gray;
}

.queue_title {
    border-bottom:1px solid #E3E3E3;
    margin:0 auto;
    overflow:hidden;
    padding:8px 4px 6px;
}

.queue_title h2 {
    color:#666666;
    font-size:16px;
    line-height:1em;
    margin:0;
    text-align:center;
}

#sidebar h2 {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    //background:transparent url(/images/sidebar-h2.gif) no-repeat scroll left center;
    border-bottom:1px solid #758A97;
    border-top:1px solid #758A97;
    color:#222222;
    font-size:11px;
    height:17px;
    line-height:1em;
    margin:15px -8px 5px;
    padding:8px 8px 0;
}

#controls ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:-5px -8px 0;
}

#controls ul li {
    //border-bottom:1px solid #95B0C0;
    padding:0;
}

#controls ul li.action {
    background-position:8px 8px;
    background-repeat:no-repeat;
    color:black;
    display:block;
    padding:7px 20px 5px 24px;
}

#controls ul li.action:hover {
    color: #758A97;
}
